<section class="form-container">
  <h2>Dodaj nowego Pokémona</h2>
  <p class="subtitle">Uzupełnij bazę danych o nowe okazy.</p>

  <% if (locals.error) { %>
    <div class="form-message error">
      <%= locals.error %>
    </div>
  <% } %>
  <% if (locals.success) { %>
    <div class="form-message success">
      <%= locals.success %>
    </div>
  <% } %>

  <form action="/add" method="post">
    <div class="form-group">
      <label>Nazwa:</label>
      <input name="name" placeholder="Np. Litten" required />
    </div>

    <div class="form-group">
      <label>Typ 1:</label>
      <input name="type1" placeholder="Np. Fire" required />
    </div>

    <div class="form-group">
      <label>Typ 2 (opcjonalnie):</label>
      <input name="type2" />
    </div>

    <div class="form-group">
      <label>Etap ewolucji:</label>
      <input name="evolution_stage" type="number" min="1" required />
    </div>

    <div class="form-group">
      <label>Kolor:</label>
      <input name="color" placeholder="Np. Black" required />
    </div>

    <button type="submit" class="btn-primary">Dodaj Pokemona</button>
  </form>
</section>
